Source: matrixio-kernel-modules
Section: embedded
Priority: optional
Maintainer: MATRIX Labs <info@matrix.one>
Build-Depends: debhelper (>= 9), dkms, device-tree-compiler
Standards-Version: 3.9.5
Homepage: https://github.com/matrix-io/matrixio-kernel-modules

Package: matrixio-kernel-modules
Architecture: all
Depends: ${misc:Depends},
 matrixio-creator-init,raspberrypi-kernel-headers,raspberrypi-kernel,
 dkms,
Description: Source DKMS for MATRIXIO kernel modules.
